<section class="detailsOtherPet">
    <h3>{{this.name}}</h3>
    <p>Pet counter: {{this.petsCount}} <a href="#/postPet/{{this._id}}">
        <button class="button"><i class="fas fa-heart"></i>
            Pet
        </button>

    </a>
    </p>
    <p class="img"><img src={{this.imageUrl}}></p>
    <p class="description">{{this.description}}</p>
</section>